{%extends 'basee.html'%}
{%load static%}

{%block tit%}
<title>Page Not Found | Busayo's Folio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
{%endblock%}


{%block portfolio_details%}
<header id="header">
    <div class="container">

      <h1 class="mb-3">There's nothing here</h1>
      <p class="mb-4">Looks like you hit the wrong page. <br class="mb-5"> Go back home by clicking "Home" below.</p>

      <div>
        <div class="mt-5">
            <a href="{% url 'homepage' %}">Home (Web Developer)</a>
        </div>

        <div class="mt-2">
          <a href="{% url 'acc_homepage' %}">Home (Accounting Professional)</a>
        </div>

      </div>


    </div>
  </header>
{%endblock%}