{% extends "basee.html" %}
{% load static %}

{%block tit%}
<title>Leave a remark </title>
  <meta content="" name="description">
  <meta content="" name="keywords">
{%endblock%}

{%block portfolio_details%}
<div class="about-me container">

    <div class="section-title mt-5">
      <h2>Testimonials</h2>
      <p>Leave a review</p>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Submit</button>
            </form> 
        </div>
    
    </div>


    
  </div><!-- End -->
{%endblock%}

