{% extends "basee.html" %}
{% load static %}


{%block portfolio_details%}
<div id="portfolio-details" class="portfolio-details">
    <div class="container">  
        <div class="row">
            <div class="col-lg-8">
                <h2 class="portfolio-title">{{ portfolio.title }}</h2>

                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        {%for picture in pictures%}
                        <div class="swiper-slide">
                            <img src=" {{ picture.picture.url }}" alt="{{picture.title}}" style="height:400px; width:90%;">
                        </div>
                        {%endfor%}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-lg-4 portfolio-info">
                <h3> <b>PROJECT INFORMATION</b></h3>
                <ul>
                    {%if portfolio.categoryweb%}
                    <li><strong>Category</strong>: {{ portfolio.categoryweb }}</li>
                    {%else%}
                    <li><strong>Category</strong>: {{ portfolio.categoryapp }}</li>
                    {%endif%}
                    <li><strong>Technology</strong>: {{ portfolio.technology }}</li>
                    <li><strong>Project URL</strong>: <a href="{{ portfolio.url }}" target="_blank">{{ portfolio.url }}</a></li>
                    <li><strong>Git URL</strong>: <a href="{{ portfolio.codebank }}" target="_blank">{{ portfolio.codebank}}</a></li>
                </ul>

                <p>{{ portfolio.description }}</p>

                <div class="mt-5">
                    <a href="{% url 'homepage' %}"><button class="btn btn-success">Home</button></a>
                </div>
            </div>
        </div>
    </div>

</div><!-- End Portfolio Details -->
{%endblock%}